language: node_js
node_js: node
script: npm run lint
cache:
  directories:
  - "$HOME/.npm"
before_deploy: 
  - npm i -g eslint
  - npm i -g eslint-plugin-promise
  - npm i -g eslint-plugin-prettier
  - npm i -g eslint-plugin-vue
  - npm i -g babel-eslint
  - npm i -g prettier
  - npm i -g @vue/eslint-config-prettier
  - cd functions/; npm ci
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: OhGpP50YGNBoRTS7EqMnGBX4GbVcRXj0yGjmwskzn2aj9BL/40brQj3K1xvZKfan6ZLWsFn+Q8C7f/bfUHui83vVeMLlb9B4VyfgkDEAUTg0521qaLbI/yrHbmWpb9M5A3qj8yRxmB5FEYsU5Q1uF5uxtNntTr00SsQDnVtp/CRjCbQ7LzuX0vD1wQa1/k9CZBE8Ym9WqKN+kmgtGbdlbrzqI87mxjmd+87d8kaGScuXm+sheqEuakp7FZ4LMKsZ6zyITeFuFzzRKRVxP2/GCH5W3h+rPgw0kgs1wj8di3igzNc+dWRWN5FZ+h3abiXL/QiCuvndyp9pfk4EB9c13zGMwXxlPaPE4qcyrqsRzkRWF9t7Ynpy9HAXjaQJbL/9csegbS4/mFGApS0MIyQxVFb1yWQ/9MdKfhWo46dHp5WydIQtQQBAUnDt3n+ye+m+gvMchMNkEglbYRGBOjMokN/xl7GZMw6CkBoNn67ElmVAGkAYVwcjkcnmlQXLf6X2IrDjBnK/YI5itce2A41mC0tHOEwscyglqC2/IsKZcRoPPsmbr5ZHor3BbJkDW40IdJ1p7/x3++UYo9mlo9abV/dgD4JQeXHYqBL1HHgBTbYqkrUQkjJ207h4q50dN6qm+KiTcl7Fp5L1oboC74HB5n4dNiFw9DPduuV8WwAnm+Q=
