service cloud.firestore {
  match /databases/{database}/documents {
  	function nameMatch(name) {
    	return request.auth.token.email.lower().matches(name.lower() + "@commschool.org");
    }
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.token.email.lower()[0:request.auth.token.email.length - 16])).data.admin
    }
  	match /users/{user} {
    	// All users
    	allow read;
      // Owner
      allow write: if request.resource.data.admin != true && nameMatch(user);
      // Admins
      allow write: if isAdmin();
      match /events/{event} {
      	// Owner
      	allow read: if nameMatch(user);
        allow write: if request.resource.data.signed != true && nameMatch(user);
        // Admin
        allow read, write: if isAdmin();
      }
    }
    match /events/{event} {
      // All users
      allow read, create;
      // Owner
      allow write: if nameMatch(get(/databases/$(database)/documents/events/$(event)).data.author);
      // Admins
      allow write: if isAdmin();
      match /who/{user} {
      	// All users
      	allow read;
        allow write, create, delete: if nameMatch(user);
        // Admins
        allow write: if isAdmin();
      }
    }
  }
}
